%tr{:id => dom_id(phone), "data-url" => phone_path(phone), "data-object" => "phone" }
  %td.rest-in-place{"data-attribute" => "name"}= phone.name
  %td.rest-in-place{"data-attribute" => "number"}= phone.number
  %td
    = link_to t('.destroy', :default => t("helpers.links.destroy")), phone_path(phone), :remote => true, :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger destroy'
